
<div class="navbar">
  <img class="logo" src="site-assets/Logo.png">
  <div class="leftnav">
    <button id="animoWallButton" class="navbutton">Animo Wall</button>
    <button id="profButton" class="navbutton">Prof's to Pick</button>
    <button id="announcementButton" class="navbutton">Announcements</button>
    <button id="userprofile" style="display: none;"></button>
  </div>
</div>

